/*GENERAL STYLE*/

body {
    font: normal 400 16px/1.5 'Open Sans', serif;
    color: #737373;
    align-items: center;
    min-height: 100vh;
    padding: 54px 0 0 0;
    margin: 0;
}


.sideNav {
    background-image: url('img/navbar-background.png');
    background-color: #000717;
    /* Fallback background color */
}

.logo-image {
    width: 100px;
}


@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #317bc5;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #2164a6;
}

a:hover,
a:focus,
a:active {
    color: #cb2849;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

.resume-section {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.resume-section h3 {
    font-size: 45px;
}

.resume-section p {
    padding-right: 20px;
    font-size: 15px;
}

.resume-section address,
.resume-section address a {
    color: #999;
}

.resume-section input,
.resume-section textarea {
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
    margin-top: 30px;
    background-color: #666;
}

.resume-section textarea {
    height: 200px;
}

.resume-section .social-icon-f li i {
    color: #fff;
    background-color: #666;
}

/*==================================================
                    NAV-BAR
====================================================*/
#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

/*NAVBAR-NAV*/
.navbar-nav {
    background-color: rgba(50, 50, 50, 0.5);
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

/*PROFILE IMAGE*/
.profile-image {
    background: url(img/profile.jpg);
}

.btn {
    background-color: rgb(94, 94, 94);
    color: white;
}

.btn:hover {
    background-color: rgb(11, 48, 112);
}

.btn:active {
    background-color: rgb(22, 96, 224);
    color: #2596f9;
}

@media (max-width: 767px) {
    #logo {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: ​#2164a6;
    background-color: ​#2164a6;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: ​#2164a6;
    cursor: pointer;
}

.btn-green {
    border-color: ​#2164a6;
    color: ​#2164a6;
}

.btn-green:hover,
.btn-green:focus {
    background-color: ​#2164a6;
    color: #fff;
    cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
.heading-border {
    width: 60px;
    height: 10px;
    background-color: #2164a6;
    margin: 0 auto 20px auto;
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.content-row,
.content-row-reverse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.text-content,
.img-content {
    flex: 1;
    padding: 0 20px;
}

.content-row .text-content {
    padding-right: 20px;
    text-align: left;
}

.content-row .img-content {
    text-align: right;
}

.content-row-reverse .text-content {
    padding-left: 20px;
    text-align: right;
}

.content-row-reverse .img-content {
    text-align: left;
}

/* Mobile Responsive */
@media (max-width: 768px) {

    .content-row,
    .content-row-reverse {
        flex-direction: column;
    }
}

.slider-wrapper {
    position: relative;
    background-color: #f2f2f2;
    /* Different background color for contrast */
    padding: 20px;
    /* Padding around the container */
    width: 300px;
    height: 225px;
    overflow: hidden;
    margin: 0 auto;
    /* Center the slider */
    max-width: 100%;
    /* Responsive design */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centering the slider */
}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    /* Space between images */
    width: calc(300px * 12);
    /* Total width of all slides */
    transition: all 0.5s ease;
    /* Smooth transition */
    scroll-snap-type: x mandatory;
    /* Smooth scrolling */
}

.slide {
    flex: 0 0 300px;
    /* Fixed width for each slide */
    height: 225px;
    scroll-snap-align: start;
    /* Alignment for smooth scrolling */
    position: relative;
}

.slide img {
    width: 300px;
    height: 225px;
    object-fit: cover;
    /* Maintaining aspect ratio */
    display: block;
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slide:hover .hover-text {
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrow-left {
    left: -40px;
}

.arrow-right {
    right: -40px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .slider-wrapper {
        align-items: stretch;
    }

    .slide {
        flex: 0 0 100%;
        /* Full width on mobile */
    }
}

/* Display arrows on larger screens */
@media (min-width: 768px) {
    .arrow {
        display: block;
    }
}

/* Gallery Images */
.gallery-image {
    max-width: 300px;
    max-height: 225px;
}

.bg-primary {
    background-color: #2164a6 !important;
}

.text-primary {
    color: #2164a6 !important;
}

/*==================================================
                      ABOUT
====================================================*/
#about {
    background-image: url(../img/profile-banner.jpg);
    background-color: #666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.h1-mimic,
.subheading,
.my-bio {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 8px;
    margin: 5px 0;
    display: inline-block;
    /* Ensures the snug fit for the background */
}

.h1-mimic {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    height: 40px;
    margin: 0;
}

.dark-content {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px 50px;
    /* Added top and bottom padding, and right padding */
    box-sizing: border-box;
    /* Ensures padding doesn't add to the width */
}

/* Responsiveness for smaller devices */
@media (max-width: 768px) {
    .dark-content {
        padding: 15px;
        /* Uniform padding for mobile views */
    }
}

.dark-content h1 {
    font-size: 2.5em;
    /* Making h1 more distinctive */
    font-weight: bold;
    color: #317bc5;
    margin-bottom: 20px;
    /* Providing some space below the h1 */
}

.dark-content h2 {
    font-size: 2em;
    font-weight: bold;
    color: #317bc5;
    margin-top: 25px;
    /* Spacing between sections */
}

.dark-content h3 {
    font-size: 1.5em;
    /* Making h3 smaller than h2 */
    font-weight: bold;
    color: #317bc5;
}

.dark-content img {
    position: relative;
    max-width: 100%;
    /* Ensure image doesn't overflow container */
}

.dark-content img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dark-content section {
    margin-bottom: 20px;
}

.dark-content p {
    line-height: 1.5;
}

.dark-content a {
    color: #317bc5;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.dark-content a:hover,
.dark-content a:focus {
    text-decoration: underline;
    outline: none;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .dark-content h1 {
        font-size: 1.8em;
        /* Adjusting h1 size for mobile */
    }

    .dark-content h2 {
        font-size: 1.5em;
        /* Adjusting h2 size for mobile */
    }

    .dark-content h3 {
        font-size: 1.2em;
        /* Adjusting h3 size for mobile */
    }

    .dark-content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

/*==================================================
                    EXPERIENCE
====================================================*/
:root {
    --dark-theme-color: #333;
    --text-color: #ffffff;
}

#experience {
    background: var(--dark-theme-color);
    color: var(--text-color);
}

#experience .card h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: none;
    color: var(--text-color);
}

/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio {
    background-image: url(../img/Dark-Blue-Leaf-Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    max-width: 100% !important;
    width: 100% !important;
    background-color: #333;
}

.port-head-cont {
    margin: 20px auto 40px auto;
    text-align: center;
}

.port-head-cont button {
    margin: 5px 2px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption-port {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    opacity: 0;
    background: #317bc5;
}

#portfolio .portfolio-item .portfolio-link .caption-port:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h3,
#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    box-shadow: none;
}

.portfolio-modal .title-bar {
    padding: 0 0 50px 0;
}

.portfolio-modal .modal-dialog .modal-content {
    padding: 10px 0 100px 0;
    border: 0;
    border-radius: 0;
}

.portfolio-modal .modal-dialog .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    transform: rotate(45deg);
    background-color: #2C3E50;
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    transform: rotate(90deg);
    background-color: #2C3E50;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 850px) {
    .portfolio-modal .close-modal {
        display: none;
    }
}

/*====================================================
                      SKILLS
======================================================*/
#skills {
    background-image: url(../img/Dark-Blue-Leaf-Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    max-width: 100% !important;
    width: 100% !important;
    background-color: #333;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(144, 144, 144, 0.78);
    color: #124171;
}

.skill-item i {
    margin-right: 15px;
}

.skill-percentage {
    font-size: 2.5em;
    /* Adjust size as needed */
    color: #124171;
    font-weight: bold;
    /* If you want it bold like h2 */
}


@media (min-width: 768px) {
    #skills .p-3 {
        text-align: left;
    }
}

@media (max-width: 767px) {
    #skills .p-3 {
        text-align: center;
    }
}


/*====================================================
                      AWARD
======================================================*/
#awards {
    background-image: url(../img/Dark-Blue-Leaf-Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    max-width: 100% !important;
    width: 100% !important;
    background-color: #333;
}

.content {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the rgba color to change the overlay color */
}

#award-box {
    background-color: #333;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    z-index: 1;
    /* Add this line */
}

#award-box:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #999;
    position: absolute;
    top: 0;
    left: 50%;
}

#award-box .award {
    width: 50%;
    clear: both;
    position: relative;
}

#award-box .award:before,
#award-box .award:after {
    content: "";
    display: block;
    clear: both;
}

#award-box .award:first-child:before,
#award-box .award:last-child:before {
    content: "";
    width: 11px;
    height: 11px;
    background: #999;
    box-sizing: content-box;
    border: 5px solid #333;
    box-shadow: 0 0 0 2px #999;
    position: absolute;
    top: -54px;
    right: -11px;
    transform: rotate(45deg);
}

#award-box .award:last-child:before {
    top: auto;
    bottom: -54px;
}

#award-box .award:last-child:nth-child(even):before {
    right: auto;
    left: -11px;
}

#award-box .award-icon {
    width: 24px;
    height: 24px;
    background: #333;
    border: 1px solid #999;
    position: absolute;
    top: 17px;
    right: -13px;
    z-index: 1;
    transform: rotate(45deg);
}

#award-box .award-icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}

#award-box .award:hover .award-icon:before {
    background: #137dc0;
}

#award-box .award-content {
    width: 85%;
    padding: 18px 30px;
    background: #333;
    text-align: right;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}

#award-box .award:hover .award-content {
    border: 1px solid #999;
}

#award-box .award-content:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #333;
    border: 1px solid #999;
    position: absolute;
    top: 21px;
    right: -7.3px;
    transform: rotate(45deg);
    transition: all 0.2s ease 0s;
}

#award-box .award:hover .award-content:before {
    background: #137dc0;
    border-color: #137dc0;
}

#award-box .award-content:after {
    content: "";
    width: 11%;
    height: 1px;
    background: #999;
    position: absolute;
    top: 28px;
    right: -14%;
}

#award-box .date {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #137dc0;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
}

#award-box .award:hover .date {
    color: #fff;
}

#award-box .title {
    font-size: 18px;
    color: #fff;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}

#award-box .award:hover .title {
    color: #137dc0;
}

#award-box .description {
    font-size: 16px;
    color: #bbb;
    line-height: 28px;
    margin-top: 8px;
}

#award-box .award:nth-child(2n),
#award-box .award:nth-child(2n) .award-content {
    float: right;
    text-align: left;
}

#award-box .award:nth-child(2n) .award-icon {
    right: 0;
    left: -12px;
}

#award-box .award:nth-child(2n) .award-content:before {
    left: -7.3px;
}

#award-box .award:nth-child(2n) .award-content:after {
    left: -14%;
}

@media only screen and (max-width: 767px) {
    #award-box {
        padding-left: 20px;
    }

    #award-box:before {
        left: 20px;
    }

    #award-box .award {
        width: 100%;
    }

    #award-box .award,
    #award-box .award-content {
        float: right;
        padding: 5px;
        text-align: left;
    }

    #award-box .award:first-child:before,
    #award-box .award:last-child:nth-child(odd):before {
        right: auto;
        left: -11px;
    }

    #award-box .award-icon {
        right: 0;
        left: -12px;
    }

    #award-box .award-content:before {
        left: -7.3px;
    }

    #award-box .award-content:after {
        left: -14%;
    }
}

/*====================================================
                   CONTACT
======================================================*/
:root {
    --contact-background-color: #333;
    --main-font-color: #ccc;
    --form-background-color: #666;
    --main-font-size: 15px;
    --heading-font-size: 45px;
}

#contact {
    padding: 50px 0;
    background-color: var(--contact-background-color);
    color: var(--main-font-color);
    font-size: var(--main-font-size);
}

.contact-cont h3 {
    color: #317bc5;
    font-size: var(--heading-font-size);
    text-align: center;
}

.contact-cont p {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    width: 80%;
    /* Ensures form doesn't take up full width on small screens */
}

.form-group label {
    display: block;
    text-align: left;
    color: var(--main-font-color);
    margin-top: 20px;
}

.form-group input,
.form-group textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--form-background-color);
    color: var(--main-font-color);
    margin-top: 10px;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #317bc5;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #808080;
    color: #fff;
}

.form-group button:active {
    background-color: #a70000;
    color: #fff;
}

@media screen and (min-width: 600px) {

    .form-group label,
    .form-group input,
    .form-group textarea {
        width: 70%;
        margin-left: 15%;
        /* Adjust as needed to center align form elements */
    }

    .form-group button {
        width: 30%;
        margin-left: 35%;
        /* Adjust as needed to center align button */
    }
}

/*====================================================
                   FOOTER
======================================================*/
:root {
    --white-color: #fff;
    --dark-color: #212529;
    --social-icon-color: #363b41;
    --social-icon-hover-color: #2164a6;
}

.footer {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 30px 0;

    .col {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 15px;
        /* Adjust as needed */
    }

    a,
    h4 {
        color: var(--white-color);
    }

    h4 {
        margin-bottom: 20px;
    }

    .col.text-center.mt-4 {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        /* Adds a light border */
        padding-top: 10px;
    }

    .logo-social-icons-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: 0;
        margin-right: auto;
    }

    @media (max-width: 767px) {
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .list-social-icons {
        padding-left: 0;
        text-align: center;
        /* Center align icons on all screens */

        a {
            color: var(--social-icon-color);

            &:hover {
                color: var(--social-icon-hover-color);
            }

            .fa-lg {
                font-size: 1.75rem;
            }
        }
    }

    @media (min-width: 768px) {

        /* Adjust breakpoint as needed */
        .list-social-icons {
            text-align: left;
            /* Left align icons on larger screens */
        }
    }

    .list-icons {
        font-size: 3rem;

        .list-inline-item i:hover {
            color: var(--social-icon-hover-color);
        }
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;

        iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    /* Override height for larger screens */
    @media (min-width: 992px) {
        .map-responsive {
            height: calc(100vh - 60px);
            padding-bottom: 0;
        }
    }