body {
    background-color: #86BBD8;
    color: #F6AE2D;
}

.navbar {
    background-color: #2F4858;
}

.navbar a {
    color: #F6AE2D;
}

.navbar a:hover {
    color: #33658A;
}

footer {
    background-color: #2F4858;
    color: #F6AE2D;
}

button {
    background-color: #2F4858;
    color: #F6AE2D;
}

button:hover {
    background-color: #33658A;
}

a.special {
    color: #F26419;
}

p.notification {
    color: #F26419;
}
